{% extends 'base.html' %} {% block content %} {% load static %}
<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <!-- Responsive tables Start -->
      <div class="pd-20 card-box mb-30">
        <div class="clearfix mb-20">
          <div class="pull-left">
            <h4 class="text-blue h4">Responsive table</h4>
          </div>
          <div class="pull-right">
            <a
              href="#responsive-table"
              class="btn btn-primary btn-sm scroll-click"
              rel="content-y"
              data-toggle="collapse"
              role="button"
              ><i class="fa fa-code"></i> Source Code</a
            >
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">E-mail</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Public_visibility</th>
              </tr>
            </thead>
            {% for data in authors_sellers %}
            <tbody>
              <tr>
                <th scope="row">{{data.email}}</th>
                <td>{{data.username}}</td>
                <td>{{data.first_name}}</td>
                <td>{{data.lat_name}}</td>
                <td>{{data.public_visibility}}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
        <div class="collapse collapse-box" id="responsive-table">
          <div class="code-box">
            <div class="clearfix">
              <a
                href="javascript:;"
                class="btn btn-primary btn-sm code-copy pull-left"
                data-clipboard-target="#responsive-table-code"
                ><i class="fa fa-clipboard"></i> Copy Code</a
              >
              <a
                href="#responsive-table"
                class="btn btn-primary btn-sm pull-right"
                rel="content-y"
                data-toggle="collapse"
                role="button"
                ><i class="fa fa-eye-slash"></i> Hide Code</a
              >
            </div>
            <pre><code class="xml copy-pre" id="responsive-table-code">
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	    </tr>
	  </tbody>
	</table>
</div>
							</code></pre>
          </div>
        </div>
      </div>
      <!-- Responsive tables End -->
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
      DeskApp - Bootstrap 4 Admin Template By
      <a href="https://github.com/dropways" target="_blank"
        >Ankit Hingarajiya</a
      >
    </div>
  </div>
</div>

{% endblock %}
