{% extends 'base.html' %} {% block content %} {% load static %}
<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="title">
              <h4>Form</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Form Basic
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-md-6 col-sm-12 text-right">
            <div class="dropdown">
              <a
                class="btn btn-secondary dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
              >
                January 2018
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Export List</a>
                <a class="dropdown-item" href="#">Policies</a>
                <a class="dropdown-item" href="#">View Assets</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'message.html' %}
      <!-- Default Basic Forms Start -->
      <div class="pd-20 card-box mb-30">
        <div class="clearfix">
          <div class="pull-left">
            <h4 class="text-blue h4">Upload Book</h4>
            <p class="mb-30">Here Your can upload book</p>
          </div>
          <div class="pull-right">
            <a
              href="#basic-form1"
              class="btn btn-primary btn-sm scroll-click"
              rel="content-y"
              data-toggle="collapse"
              role="button"
              ><i class="fa fa-code"></i> Source Code</a
            >
          </div>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label>Title</label>
            <input
              class="form-control"
              type="text"
              name="title"
              placeholder="Enter Book Title"
            />
          </div>

          {% comment %}
          <div class="form-group">
            <label>Textarea</label>
            <textarea class="form-control"></textarea>
          </div>
          {% endcomment %}

          <div class="form-group">
            <label>Cover Image</label>
            <div class="custom-file">
              <input
                type="file"
                name="coverimg"
                accept=".jpg, .jpeg"
                class="custom-file-input"
              />
              <label class="custom-file-label">Choose file</label>
            </div>
          </div>

          <div class="form-group">
            <label>Upload Book</label>
            <div class="custom-file">
              <input
                type="file"
                name="book"
                accept=".pdf"
                class="custom-file-input"
              />
              <label class="custom-file-label">Choose file</label>
            </div>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input
              class="form-control"
              type="number"
              name="price"
              placeholder="Enter Book Price"
            />
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block">
            upload your book
          </button>
        </form>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Book</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            {% for book in yourbook %}
            <tbody>
              <tr>
                <th scope="row">{{book.title}}</th>
                <td>{{book.username}}</td>
                <td>
                  <img
                    src="{{book.coverimg.url}}"
                    alt="Girl in a jacket"
                    width="80"
                    height="80"
                  />
                </td>
                <td><a href="{{book.bookfile.url}}" target="_blank">View Book</a></td>
                <td>{{book.price}}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
        <div class="collapse collapse-box" id="basic-form1">
          <div class="code-box">
            <div class="clearfix">
              <a
                href="javascript:;"
                class="btn btn-primary btn-sm code-copy pull-left"
                data-clipboard-target="#copy-pre"
                ><i class="fa fa-clipboard"></i> Copy Code</a
              >
              <a
                href="#basic-form1"
                class="btn btn-primary btn-sm pull-right"
                rel="content-y"
                data-toggle="collapse"
                role="button"
                ><i class="fa fa-eye-slash"></i> Hide Code</a
              >
            </div>
            <pre><code class="xml copy-pre" id="copy-pre">
<form>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Text</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" type="text" placeholder="Johnny Brown">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Search</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" placeholder="Search Here" type="search">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Email</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" value="bootstrap@example.com" type="email">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">URL</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" value="https://getbootstrap.com" type="url">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Telephone</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" value="1-(111)-111-1111" type="tel">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Password</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" value="password" type="password">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Number</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" value="100" type="number">
		</div>
	</div>
	<div class="form-group row">
		<label for="example-datetime-local-input" class="col-sm-12 col-md-2 col-form-label">Date and time</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control datetimepicker" placeholder="Choose Date anf time" type="text">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Date</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control date-picker" placeholder="Select Date" type="text">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Month</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control month-picker" placeholder="Select Month" type="text">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Time</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control time-picker" placeholder="Select time" type="text">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Select</label>
		<div class="col-sm-12 col-md-10">
			<select class="custom-select col-12">
				<option selected="">Choose...</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Color</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" value="#563d7c" type="color">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-12 col-md-2 col-form-label">Input Range</label>
		<div class="col-sm-12 col-md-10">
			<input class="form-control" value="50" type="range">
		</div>
	</div>
</form>
							</code></pre>
          </div>
        </div>
      </div>
      <!-- Default Basic Forms End -->
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
      DeskApp - Bootstrap 4 Admin Template By
      <a href="https://github.com/dropways" target="_blank"
        >Ankit Hingarajiya</a
      >
    </div>
  </div>
</div>
{% endblock %}
